.newsCard{
    box-shadow: 0 0 1px rgba(254, 4, 4, 0.1); 
    border: 1px solid red;
    border-radius: 2px;
    background-color: #f3f5d8;
    color: #b23727;
    margin: 5px;
    width: 49%;
}

.newsCardSection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    justify-content:center ;
}

.newsImage{
    object-fit: cover;
    flex: 2;
    width: 200px;
}
.newsTitle{
    flex: 4;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;  
    /* width: 400px; */
}
@media (max-width: 1199PX) {
    .newsCard{
        width: 100%;
    }
}
